{% extends 'padre.html' %}

{% block contenidoquecambia %}

<!-- slider section -->
<section class=" slider_section position-relative">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="col-lg-10 col-md-11 mx-auto">
            <div class="detail-box">
              <div>
                <p>
                  Ludus, nombre inspirado en los antiguos campos de entrenamiento de los gladiadores romanos, representa nuestra filosofía de entrenamiento: disciplina, superación y transformación.
                </p>
                <div class="">
                  <a href="">
                    {{message}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
  </div>
</section>
<!-- end slider section -->



<!-- Us section -->

<section class="us_section layout_padding">
<div class="container">
  <div class="heading_container">
    <h2>
      Porqué elegirnos?
    </h2>
  </div>

  <div class="us_container ">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="images/u-1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              EQUIPO DE INSTRUCTORES DE CALIDAD
            </h5>
            <p>
              En Ludus, nos inspiramos en la valentía y la dedicación de los gladiadores para ofrecerte una experiencia de entrenamiento única. Nuestro gimnasio combina modernas instalaciones con un equipo de entrenadores expertos, comprometidos en ayudarte a alcanzar tus metas de fitness. Únete a nosotros y descubre tu fuerza interior en un ambiente motivador y lleno de energía. ¡Entrena como un gladiador, vive como un campeón!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="images/u-4.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              NUTRICION
            </h5>
            <p>
              No solo entrenamos tu cuerpo, sino que también te apoyamos con planes de nutrición personalizados y acompañamiento constante. Descubre el poder de una vida saludable y equilibrada. ¡Únete a nosotros y transforma tu bienestar!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="images/u-2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              PLANES DE ENTRANAMIENTO DE FUERZA Y CARDIO
            </h5>
            <p>
              Ofrecemos programas de entrenamiento de fuerza y cardio diseñados para desafiarte y ayudarte a alcanzar tu mejor versión.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="images/u-3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              MOVIMIENTO
            </h5>
            <p>
              Creemos en la importancia de mantenerte en movimiento. Ofrecemos clases dinámicas como Zumba y HIIT que te ayudarán a mantenerte activo y lleno de energía. ¡Únete a nosotros y descubre el poder del movimiento en tu vida diaria!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- end us section -->


{% endblock contenidoquecambia %}